<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="login-part">
    {% block login %}

        {% if not request.user.id %}
            <form action="{% url 'blog:login' %}" method="post">
                {% csrf_token %}
                User name: <input type="text" name="name">
                Password: <input type="password" name="password">
                <input type="submit" value="Login">
            </form>
            <a href="{% url 'blog:register' %}">Regist</a>
        {% else %}
            <h3>{{ request.user.username }}<a href="{% url 'blog:logoutpage' %}"> Logout</a></h3>
        {% endif %}

    {% endblock %}
</div>

<div id="search">
    <form action="{% url 'blog:searchblog' %}" method="post">
        {% csrf_token %}
        Search: <input type="text" name="keyword" />
        <button type="submit">Search</button>
    </form>
</div>

<div id="main-part">
    {% block content %}
    {% endblock %}
</div>

<div id="bottom-part">
    <a href="{% url 'blog:index' %}">Index</a>
</div>

</body>
</html>