<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="login-part">

    {% block login %}

        {% if not request.user.id %}
            <form action="{% url 'blog:usercontrol' 'login' %}" method="post">
                {% csrf_token %}
                User name: <input type="text" name="username">
                Password: <input type="password" name="password">
                <input type="submit" value="Login">
            </form>
            <a href="{% url 'blog:usercontrol' 'register' %}">Regist</a>
        {% else %}
            <img src="/{{ log_user.profile_photo }}"/>{{ log_user.username }}
            <form action="{% url 'blog:usercontrol' 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            <a href="{% url 'blog:usercontrol' 'manage' %}">Manage</a>
            <a href="{% url 'blog:writeblog' %}">Write blog</a>
            <a href="{% url 'blog:news'%}">News</a>
            <p>Followers: <a href="{% url 'blog:usercontrol' 'follower' %}">{{ follower_count }}</a></p>
            <p>Following: <a href="{% url 'blog:usercontrol' 'following' %}">{{ following_count }}</a></p>
        {% endif %}

    {% endblock %}
</div>

<div id="search">
    <form action="{% url 'blog:usercontrol' 'search' %}" method="post">
        {% csrf_token %}
        Search: <input type="text" name="keyword"/>
        <button type="submit">Search</button>
    </form>
</div>

<div id="popularity">
    {% if popularity %}
        <ul><h3>Hot Blog</h3>
            {% for blog in popularity %}
                {% if blog.fwd_blog %}
                    <li>{{ forloop.counter }} - <a href="{% url 'blog:blog' blog.id 'view' %}">Forward: {{ blog.blog_title }}</a></li>
                    <p>Title: <a href="{% url 'blog:blog' blog.fwd_blog.id 'view' %}">
                        {{ blog.fwd_blog.blog_title }}</a></p>
                    <p>Popularity: {{ blog.popularity }}</p>
                {% else %}
                    <li>{{ forloop.counter }} - Title: <a href="{% url 'blog:blog' blog.id 'view' %}">{{ blog.blog_title }}</a></li>
                    <p>Popularity: {{ blog.popularity }}</p>
                {% endif %}
            {% endfor %}
        </ul>
        <br>
    {% endif %}
</div>

<div id="main-part">
    {% block content %}
    {% endblock %}
</div>

<div id="bottom-part">
    <a href="{% url 'blog:index' %}">Index</a>
</div>

</body>
</html>