{% extends "./base.html" %}

{% block content %}

    {% if user_list %}
        <ul>
            {% for user in user_list %}
                <li><a href="{% url 'blog:user' user.id 'homepage' %}">{{ user.id }}-{{ user.username }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No user.</p>
    {% endif %}

    <h4>Following users:</h4>

    {% if follow_list %}
        <ul>
            {% for user in follow_list %}
                <li><a href="{% url 'blog:user' user.id 'homepage' %}">{{ user.username }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Not following any user yet.</p>
    {% endif %}

    <h3>Following's blogs:</h3>

    {% if blog_list %}
        <ul>
            {% for blog in blog_list %}
                <li>Title: <a href="{% url 'blog:blog' blog.id 'view' %}">{{ blog.blog_title }}</a></li>
                <label>Post date: {{ blog.blog_postdate }}</label>
                <p>Blog Content: {{ blog.blog_content }}</p>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>No blog to show.</p>
    {% endif %}

{% endblock %}