{% extends "./base.html" %}

{% block content %}

    <h1>{{ User.username }}'s Blog</h1>
    {% if not self %}
        <form action="{% url 'blog:user' User.id 'follow' %}" method="post">
            {% csrf_token %}
            {% if not follow %}
                <button type="submit">Follow</button>
            {% else %}
                <button type="submit">Unfollow</button>
            {% endif %}
        </form>
    {% endif %}


    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    {% if Blog_list %}
        <ul>
            {% for blog in Blog_list %}
                {% if blog.fwd_blog %}
                    <li>Forward: {{ blog.blog_title }} <br> Forward date: {{ blog.blog_postdate }}</li>
                    <h3>Title: <a href="{% url 'blog:blog' blog.fwd_blog.id 'view' %}">
                        {{ blog.fwd_blog.blog_title }}</a></h3>
                    Author: <a href="{% url 'blog:user' blog.fwd_blog.blog_author_id 'homepage' %}">
                        {{ blog.fwd_blog.blog_author.username }}</a>
                    <h5>Post date: {{ blog.fwd_blog.blog_postdate }}
                        {% if self %}
                            ---<a href="{% url 'blog:deleteblog' blog.id %}">Delete</a>
                        {% endif %}
                    </h5>
                    <h4>Blog Content:{{ blog.fwd_blog.blog_content }}</h4>
                    <br>

                {% else %}

                    <li>Title: <a href="{% url 'blog:blog' blog.id 'view' %}">{{ blog.blog_title }}</a></li>
                    <h5>Post date: {{ blog.blog_postdate }}
                        {% if self %}
                            ---<a href="{% url 'blog:deleteblog' blog.id %}">Delete</a>
                        {% endif %}
                    </h5>
                    <h4>Blog Content:{{ blog.blog_content }}</h4>
                    <br>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No blog to show.</p>
    {% endif %}

{% endblock %}
