{% extends './base.html' %}

{% block content %}

    {% if result_user %}
        <ul>
        {% for user in result_user %}
            <li>User: <a href="{% url 'blog:user' user.id 'homepage' %}">{{ user.username }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if result_blog %}
        <ul>
            {% for blog in result_blog %}
                <li>Title: <a href="{% url 'blog:blog' blog.id 'view' %}">{{ blog.blog_title }}</a></li>
                Author: <a href="{% url 'blog:user' blog.blog_author.id 'homepage' %}">{{ blog.blog_author.username }}</a>
                <p>Post date: {{ blog.blog_postdate }}</p>
                <p>Blog Content:{{ blog.blog_content }}</p>
                <br>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}