{% extends "./base.html" %}

{% block content %}

    {% if error_message %}
        <h4>This blog is private.</h4>
    {% else %}
        <h2>{{ blog.blog_title }}</h2>
        {% if self %}
            ---<a href="{% url 'blog:deleteblog' blog.id %}">Delete</a>
        {% endif %}
        <label>Author: {{ blog.blog_author.username }}</label><br>
        <label>Publish date: {{ blog.blog_postdate }}</label>
        <p>Content: <br>{{ blog.blog_content }}</p>
    {% endif %}

    <a href="{% url 'blog:personalhomepage' blog.blog_author_id %}">Back</a>

    {% block commentindex %}

        <h3>Comments:</h3>
        <ul>
            {% for comment in comment_list %}
                <li>{{ comment.comment_author.username }} - {{ comment.comment_date }}</li>
                <P>{{ comment.comment_content }}</P>
            {% endfor %}
        </ul>
    {% endblock %}

    {% block comment %}
        {% if comment_error %}
            <h3>{{ comment_error }}</h3>
        {% endif %}
        <form action="{% url 'blog:commentblog' blog.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="author_id" value="{{ request.user.id }}"/>
            <label>Comment:</label>
            <input type="text" name="content"/>
            <input type="submit" name="Submit"/>
        </form>
    {% endblock %}

{% endblock %}
