{% extends "./base.html" %}

{% block content %}

{% if user_id %}
<p>{{ user_id }}</p>
<form action="{% url 'blog:writeblog' %}" method="post">
    {% csrf_token %}
    <p>Blog title: <input type="text" name="title"/></p>
    <p>Content: <input type="text" name="content"/></p>
    Private: <input type="radio" name="private" value="True">True</input>
    <input type="radio" name="private" value="False">False</input> <br>
    <input type="submit" name="Submit"/>
</form>
{% else %}
    <p>Please login first.</p>
{% endif %}

<a href="{% url 'blog:index' %}">Index</a>

{% endblock %}
