{% extends "./base.html" %}

{% block content %}

{% if request.user %}
<h3>-{{ request.user.username }}- is writing blog</h3>
<form action="{% url 'blog:writeblog' %}" method="post">
    {% csrf_token %}
    <p>Blog title: <input type="text" name="title"/></p>
    <p>Content: <input type="text" name="content"/></p>
    Private: <input type="radio" name="private" value=1>True</input>
    <input type="radio" name="private" value=0>False</input><br>
    <input type="submit" name="Submit"/>
</form>
{% else %}
    <p>Please login first.</p>
{% endif %}

<a href="{% url 'blog:index' %}">Index</a>

{% endblock %}
